.btn-back-menu {
    background: linear-gradient(90deg, #e57373, #ff8a80);
    color: #fff !important;
    font-weight: bold;
    font-size: 1.1rem;
    border: 2px solid #ffd54f;
    border-radius: 50px;
    padding: 10px 25px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 12px rgba(211, 47, 47, 0.4);
    text-decoration: none;
    display: inline-block;
}



.btn-back-menu:hover {
    background: linear-gradient(90deg, #ef5350, #f44336);
    color: #fff !important;
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(244, 67, 54, 0.6);
    border-color: #fff59d;
    text-decoration: none;
}

.btn-back-menu span {
    display: inline-block;
}

.btn-success {
    background: linear-gradient(90deg, #d32f2f, #ff5252);
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    border: 2px solid #ffd54f;
    border-radius: 50px;
    padding: 15px 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 12px rgba(211, 47, 47, 0.4);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-right: 15px;
}

    .btn-success:hover {
        background: linear-gradient(90deg, #ff6f00, #ff8f00);
        color: #fff;
        box-shadow: 0 6px 20px rgba(255, 152, 0, 0.6);
        transform: scale(1.05);
        border-color: #fff59d;
    }


@media (max-width: 768px) {
    .btn-back-menu {
        display: none;
    }

    .btn-success {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }
}