.btn-back-menu {
    background: linear-gradient(90deg, #e57373, #ff8a80);
    color: #fff !important;
    font-weight: bold;
    font-size: 1.1rem;
    border: 2px solid #ffd54f;
    border-radius: 50px;
    padding: 10px 25px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 12px rgba(211, 47, 47, 0.4);
    text-decoration: none;
    display: inline-block;
}



    .btn-back-menu:hover {
        background: linear-gradient(90deg, #ef5350, #f44336);
        color: #fff !important;
        transform: scale(1.05);
        box-shadow: 0 6px 20px rgba(244, 67, 54, 0.6);
        border-color: #fff59d;
        text-decoration: none;
    }

    .btn-back-menu span {
        display: inline-block;
    }
