
body {
    background: linear-gradient(135deg, #ffb3a7 0%, #ffd6d0 50%, #fff0c2 100%);
    color: #fff;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
    body::-webkit-scrollbar {
        display: none;
    }

.menu-items {
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin: auto;
    margin-top: 40px;
}

    .menu-items:hover {
        background: linear-gradient(90deg, #ff6f00, #ff8f00);
        color: #fff;
        box-shadow: 0 0 35px rgba(255, 152, 0, 0.7);
        transform: scale(1.08);
        border-color: #fff59d;
    }

/*.menu-items {
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin: auto;
    margin-top: 40px;
}

    .menu-items:hover {
        background-color: rgb(255, 255, 255, 0.9);
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }
*/
    .menu-items img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .menu-items h5 {
        margin-bottom: 20px;
    }
.menu-text{
    font-size:100px;
}